<h1>My Todos</h1>
<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Id</th>
                <th>Description</th>
                <th>Target Date</th>
                <th>is completed?</th>
                <th>Delete</th>
                <th>Count</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                <td>{{todo.username}}</td>
                <td>{{todo.id}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.targetDate | date}}</td>
                <td>{{todo.done}}</td>
               <!-- <td><button ng (click)="removeItem(todo.Id)" class="btn btn-danger">Delete</button></td>!-->
               <td><button (click)="removeItem(todo.id)" class="btn btn-warning">Delete</button></td>
               <td>{{todo.count}}</td>
               <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
            </tr>

        </tbody>
    </table>
    <div class="row"><button (click)="addTodo()" class="btn btn-success">Add</button></div>
</div>