<H1>Todo</H1>
<div class="alert alert-warning" *ngIf="targetDate.dirty && targetDate.invalid">Enter Valid targetDate</div>
<div class="alert alert-warning" *ngIf="description.dirty && description.invalid">Enter atleast 5 characters in Description</div>
<div class="container">
    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label>Description</label>
            <input type="text" #description="ngModel" [(ngModel)]="todo.description" class="form-control" name="description"
                required="required" minlength="5">
        </fieldset>
        <fieldset class="form-group">
            <label>username</label>
            <input type="text" [(ngModel)]="todo.username" class="form-control" name="username" required="required">
        </fieldset>
        <fieldset class="form-group">
            <input type="date" #targetDate="ngModel" [ngModel]="todo.targetDate | date:'yyyy-MM-dd' "
                (ngModelChange)="todo.targetDate = $event" class="form-control" name="targetDate" required="required">
        </fieldset>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>